body {
	position           : relative;
	margin             : 0px;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
}

input,
div,
canvas,
img {
	position: absolute;
}

input[type="button"] {
	width : 120px;
	height: 25px;
	cursor: pointer;
}

#hostfile {
	left  : 10px;
	top   : 10px;
	width : 240px;
	cursor: pointer;
}

#loadbtn {
	left: 270px;
	top : 10px;
}

#cardlinelendiv {
	left      : 400px;
	top       : 10px;
	width     : 160px;
	text-align: right;
}

#cardlinelen {
	left : 560px;
	top  : 10px;
	width: 50px;
}

#jpgqualitydiv {
	left      : 720px;
	top       : 10px;
	width     : 130px;
	text-align: right;
}

#jpgquality {
	left : 850px;
	top  : 10px;
	width: 50px;
}

#movemod {
	position: absolute;
	left    : 920px;
	top     : 10px;
}

#movemodediv {
	width: 150px;
	left : 0px;
}

#sortmovediv,
#swapmovediv {
	width: 150px;
	left : 20px;
}

#maskalldamage {
	left: 10px;
	top : 40px;
}

#showalldamage {
	left: 10px;
	top : 70px;
}

#maskallname {
	left: 140px;
	top : 40px;
}

#showallname {
	left: 140px;
	top : 70px;
}

#sortcard {
	left: 270px;
	top : 40px;
}

#delunknown {
	left: 270px;
	top : 70px;
}

#forwardlab {
	left: 400px;
	top : 40px;
}

#backwardlab {
	left: 400px;
	top : 70px;
}

#cardlinedec {
	left: 530px;
	top : 40px;
}

#cardlineinc {
	left: 530px;
	top : 70px;
}

#maskallicon {
	left: 660px;
	top : 40px;
}

#showallicon {
	left: 660px;
	top : 70px;
}

#downloadallpng {
	left: 790px;
	top : 40px;
}

#downloadalljpg {
	left: 790px;
	top : 70px;
}

#layout {
	background: #456;
	left      : 10px;
	top       : 110px;
}

#layout div,
#layout img,
#layout canvas {
	transition: all 300ms;
}

#layout .main {
	z-index: 1;
}

#layout .main.move {
	transition: all 0ms;
	z-index   : 9;
}

#layout .null {
	z-index: 1;
}

#layout .role {
	z-index: 2;
}

#layout .role.mask {
	z-index: 0;
	opacity: 0;
}

#layout .card {
	z-index: 1;
}

#layout .button {
	z-index: 9;
}

#layout.maskallicon .button,
#layout .button.mask {
	z-index: 0;
	opacity: 0;
}

#layout .damage,
#layout .damage.use.lab,
#layout .name,
#layout .jobicon {
	z-index: 0;
}

#layout .damage.use,
#layout .name.use {
	z-index: 2;
}

#layout .jobicon.use {
	z-index: 3;
}

#layout .jobicon {
	left: 14px;
	top : 151px;
}
