body {
	position           : relative;
	margin             : 0px;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
}

input,
div,
canvas,
img {
	position: absolute;
}

input[type="button"] {
	width : 120px;
	height: 25px;
	cursor: pointer;
}

#hostfile {
	left  : 10px;
	top   : 10px;
	width : 240px;
	cursor: pointer;
}

#loadbtn {
	left: 270px;
	top : 10px;
}

#cardlinelendiv {
	left      : 400px;
	top       : 10px;
	width     : 120px;
	text-align: right;
}

#cardlinelen {
	left : 520px;
	top  : 10px;
	width: 50px;
}

#jpgqualitydiv {
	left      : 740px;
	top       : 10px;
	width     : 110px;
	text-align: right;
}

#jpgquality {
	left : 850px;
	top  : 10px;
	width: 50px;
}

#movemod {
	position: absolute;
	left    : 920px;
	top     : 10px;
}

#movemodediv {
	width: 150px;
	left : 0px;
}

#sortmovediv,
#swapmovediv {
	width: 150px;
	left : 20px;
}

#maskalldamage {
	left: 10px;
	top : 40px;
}

#showalldamage {
	left: 10px;
	top : 70px;
}

#maskallname {
	left: 140px;
	top : 40px;
}

#showallname {
	left: 140px;
	top : 70px;
}

#sortcard {
	left: 270px;
	top : 40px;
}

#delunknown {
	left: 270px;
	top : 70px;
}

#forwardlab {
	left: 400px;
	top : 40px;
}

#backwardlab {
	left: 400px;
	top : 70px;
}

#cardlinedec {
	left: 530px;
	top : 40px;
}

#cardlineinc {
	left: 530px;
	top : 70px;
}

#maskallicon {
	left: 660px;
	top : 40px;
}

#showallicon {
	left: 660px;
	top : 70px;
}

#downloadallpng {
	left: 790px;
	top : 40px;
}

#downloadalljpg {
	left: 790px;
	top : 70px;
}

#layout {
	background: #444;
	left      : 10px;
	top       : 110px;
	z-index   : 3;
}

#layout div {
	transition: all 300ms;
	z-index   : 3;
}

#layout div.move {
	transition: all 0ms;
	z-index   : 10;
}

#layout div .role.mask {
	z-index: -1;
	opacity: 0;
}

#layout div .null {
	z-index: 2;
}

#layout div .card {
	z-index: 2;
}

#layout div .damage,
#layout div .damage.use.lab,
#layout div .name,
#layout div .jobicon {
	z-index: 1;
}

#layout div .damage.use,
#layout div .name.use {
	z-index: 3;
}

#layout div .jobicon.use {
	z-index: 4;
}

#layout div .jobicon {
	left   : 14px;
	top    : 151px;
}

#layout div .button {
	z-index: 7;
}

#layout.maskallicon div .button {
	z-index: -1;
	opacity: 0;
}

#layout div .button img {
	top: 0px;
}

#layout div .cross {
	left: var(--cross-x);
}

#layout div .download {
	left: var(--download-x);
}

#layout div .jobchange {
	left: var(--jobchange-x);
}

#layout div .damagebt {
	left: var(--damagebt-x);
}

#layout div .namebt {
	left: var(--namebt-x);
}
