body {
	position: relative;
	margin: 0px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#hostfile {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
}

#loadbtn {
	position: absolute;
	left: 300px;
	top: 10px;
	z-index: 1;
}

#downloadname {
	position: absolute;
	left: 10px;
	top: 40px;
	width: 250px;
	z-index: 1;
}

#downloadbtn {
	position: absolute;
	left: 300px;
	top: 40px;
	z-index: 1;
}

#layout {
	position: absolute;
	left: 10px;
	top: 80px;
	z-index: 3;
}

#layout span {
	position: absolute;
	transition: all 300ms;
	z-index: 3;
}

#layout span canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}

#layout span img {
	position: absolute;
	transition: all 300ms;
	opacity: 0.3;
	left: 0px;
	top: 0px;
	z-index: 4;
}

#layout img {
	position: absolute;
	transition: all 300ms;
	z-index: 2;
}

#puzzlediv {
	position: absolute;
	opacity: 0;
	z-index: -10;
}

#refpiece {
	position: absolute;
	z-index: -10;
}

#refpiece svg {
	position: absolute;
	z-index: -10;
}